


html, body,h1 {
	margin: 0;
	padding: 0;
	border: 0;
  background: rgb(153,217,140);
  background: linear-gradient(90deg, rgba(153,217,140,1) 0%, rgba(118,200,147,1) 50%, rgba(82,182,154,1) 100%);

  

}




.background-header{


  background-image: url(./mountains-8242910_1280.png);

  background-position: 2rch;

  background-size: cover;

  min-height: 200px; /* Set a minimum height for the box */
  height: 20%; /* Set a height relative to the viewport height */
  max-height: 400px; /* Set a maximum height if needed */
  /* Add other styles as needed */
  box-shadow: 1px 4px 56px #000;
  border-width: 6px;

  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;



}

.background-header h1 {

  text-align: center;
  size: 500px;


  --s: 0.1em;   /* the thickness of the line */
  --c: #f2e9e4; /* the color */
  
  color: #f2e9e4;
  padding-bottom: var(--s);
  background: 
    linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: 0.5s;
}




/*--------------------------------------------------------------------------------------------------------*/
/*searcb bar  & filters*/

.search-system {

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(480px, 1.5fr));
  gap: 20px;

  align-items: center;
  text-align: center;




  margin-left: 200px;
  margin-right: 200px;
  padding-top: 30px;



  }




.search-wrapper{


    display: flex;

    align-items: center;
    text-align: center;
    gap: .25rem;

    padding: 15px;
    background-color:#f7f7fc;

    width: max-content;

    margin: 0px;
    width: 470px;

    border-radius: 28px;
    box-shadow: 0 4px 40px #9a8c98;

    transition: box-shadow 0.25s;



  }


  .search-wrapper:focus-within{
    background: 0 0 2px rgba(0, 0, 0, 0.75);
  }



  .search-wrapper > #searchInput {
    border-radius: 28px;
    margin-left: 14px;
    background-color:#f7f7fc;

    border: none;
    outline: none;


    width: 400px;
    height: 2rem;
    text-align: left;

    border: transparent;
    
  }


.search-wrapper::placeholder {
    color: rgba(0, 0, 0, 0.25);
}

  /* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }

/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }



/*--------------------------------------------------------------------------------------------------------------*/
/* filter price */ 




  .price-filter{



    display: flex;
    justify-content: center; /* Aligns items horizontally at the center */
    align-items: center; /* Aligns items vertically at the center */

    align-items: center;
    text-align: center;
    gap: .25rem;

  }





  .price-filter .field {
    
    padding: 17px;
    background-color:#f7f7fc;

    width: max-content;

    margin: 0px;

    border-radius: 28px;
    box-shadow: 0 4px 40px #9a8c98;

    transition: box-shadow 0.25s;

  }

  .price-filter input {
    border-color: transparent;
    background-color:#f7f7fc;

  }

  .price-filter .button {
    
    padding: 20px;
    background-color:#f7f7fc;

    width: max-content;

    margin: 0px;

    border-radius: 28px;
    box-shadow: 0 4px 40px #9a8c98;

    transition: box-shadow 0.25s;


    cursor: pointer;
  }



  .price-filter > button:hover{
    background: rgb(153,217,140);
    background: linear-gradient(90deg, rgba(153,217,140,1) 0%, rgba(118,200,147,1) 50%, rgba(82,182,154,1) 100%);

    text-decoration: solid;
    color: #f7f7fc;

    font-size: large;
    box-shadow:  0 4px 40px #9a8c98;

  }





/*--------------------------------------------------------------------------------------------------------------*/
/* user cards */ 

/* Contenitore griglia */
.wildCards {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1.5fr));
  gap: 25px;

  margin-left: 300px;
  margin-right: 300px;
}

.course-card {
  background: rgba(247,247,247,1);
  border: 1px solid #585f85;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 1px 4px 48px  rgba(51,51,59,1) ;
}

.course-card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;

  --s: 0.1em;   /* the thickness of the line */
  --c: #E1CE7A; /* the color */
  
  color: #74546A;
  padding-bottom: var(--s);
  background: 
    linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: 0.5s;
}

.course-card p {
  margin-bottom: 10px;
}

.course-details {
  margin-top: 10px;
}

.course-details span {
  margin-right: 10px;
}

.price {
  color: #585f85; /* blue */
}

.ambit {
  color: #585f85; /* green */
}

.rating {
  color: #585f85; /* yellow */
}
