
h1 {
    text-align: center;
    display: block;
}


form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    gap: 1.5rem;
    margin: 20px;
  }


.search-wrapper {

    display: flex;

    align-items: center;
    text-align: center;
    gap: .25rem;

    padding: 15px;
    background-color:rgb(215, 215, 216);

    width: max-content;

    margin: 0px;
    width: 470px;

    border-radius: 28px;

    transition: box-shadow 0.25s;
    


  }


  .search-wrapper:focus-within{
    background: 0 0 2px rgba(0, 0, 0, 0.75);
  }

  .search-wrapper > #search {
    border-radius: 28px;
    margin-left: 14px;
    background-color:rgb(215, 215, 216);

    border: none;
    outline: none;


    width: 400px;
    height: 2rem;
    text-align: left;

    border: transparent;
    
  }


  .search-wrapper > #search::placeholder {
    color: rgba(0, 0, 0, 0.25);
  }


  /* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }



/* Style for the ambit selection */
.ambito,
.release-year {
  display: flex;
  align-items: center;
  margin-right: 20px;
  border-radius: 28px;
  background-color:rgb(215, 215, 216);
  padding: 5px;

  width: 200px
}

/* Remove border and padding from fieldset */
.ambito fieldset,
.release-year fieldset {
  border: none;
  padding: 0;
}

/* Style for the release year input */
.release-year input[type="number"] {
  padding: 8px;
  border: none;
  outline: none;
  
  border: transparent;
  background-color:rgb(215, 215, 216);

  width: 150px;
}

/* Style for the legend */
legend {
  font-weight: bold;
  margin-bottom: 10px;
}

/* Style for checkboxes */
input[type="checkbox"] {
  margin-right: 5px;
}

/* Style for labels */
label {
  display: block;
  margin-bottom: 5px;
}


/* Style the arrows */
.release-year input[type="number"]::-webkit-inner-spin-button,
.release-year input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* Style the appearance of the arrows */
.release-year input[type="number"]::-webkit-inner-spin-button:after {
  content: '▲';
  font-size: 12px;
  color: #555;
}

.release-year input[type="number"]::-webkit-outer-spin-button:after {
  content: '▼';
  font-size: 12px;
  color: #555;
}



 
  
  .user-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: .55rem;
    margin-top: 1rem;
  }
  
  .card {
    border: 1px solid black;
    background-color: white;
    padding: .5rem;
  }
  
  .card > .header {
    margin-bottom: .25rem;
  }
  
  .card > .body {
    font-size: .8rem;
    color: #777;
  }
  
  .hide {
    display: none;
  }