
h1 {
    text-align: center;
    display: block;
}



/*--------------------------------------------------------------------------------------------------------*/
/*searcb bar  & filters*/

.search-system {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    gap: 1.5rem;
    margin: 20px;
  }




.search-wrapper{

    display: flex;

    align-items: center;
    text-align: center;
    gap: .25rem;

    padding: 15px;
    background-color:rgb(215, 215, 216);

    width: max-content;

    margin: 0px;
    width: 470px;

    border-radius: 28px;

    transition: box-shadow 0.25s;


  }


  .search-wrapper:focus-within{
    background: 0 0 2px rgba(0, 0, 0, 0.75);
  }

  .search-wrapper > #searchInput {
    border-radius: 28px;
    margin-left: 14px;
    background-color:rgb(215, 215, 216);

    border: none;
    outline: none;


    width: 400px;
    height: 2rem;
    text-align: left;

    border: transparent;
    
  }


.search-wrapper::placeholder {
    color: rgba(0, 0, 0, 0.25);
}

  /* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }



/* Style for the ambit selection */
.dropdown-check-list, .release-year {
  display: flex;
  align-items: center;
  margin-right: 20px;
  border-radius: 28px;
  background-color:rgb(215, 215, 216);
  padding: 5px;


  
  width: 230px
}






/* Style for the release year input */
.release-year input[type="number"] {
  border-radius: 28px;
  margin-left: 14px;
  background-color:rgb(215, 215, 216);

  border: none;
  outline: none;


  width: 400px;
  height: 2rem;
  text-align: left;

  border: transparent;
}



/* Style for checkboxes */
input[type="checkbox"] {
  margin-right: 5px;
}








.dropdown-check-list {
  display: inline-block;
}

.dropdown-check-list .anchor {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 5px 50px 5px 30px; /* Adjusted padding for icon alignment */
}


.dropdown-check-list .categories-icon {
  position: absolute;
  align-content: baseline;


}
.dropdown-check-list .anchor:after {
  position: absolute;
  content: "";
  border-left: 2px solid black;
  border-top: 2px solid black;
  padding: 5px;
  right: 10px;
  top: 20%;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.dropdown-check-list .anchor:active:after {
  border: transparent;

  right: 8px;
  top: 21%;
}

.dropdown-check-list ul.items {
  border: transparent;
  padding: 2px;
  display: none;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
}

.dropdown-check-list ul.items li {
  list-style: none;
}

.dropdown-check-list.visible .anchor {
  color: #0094ff;
}

.dropdown-check-list.visible .items {
  display: block;
}


#showYearsButton {
  position: relative;
  border: none;
  background: transparent;
}

#showYearsButton::after {
  content: '\2192'; /* Unicode for right arrow */
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}


.release-year:hover {
  background:#e8eaec;
}

#showYearsButton:hover::after {
  opacity: 1;
}
 
#yearTableContainer {
  display: none;
}

#yearTableContainer table {
  border-collapse: collapse;
  width: 100%;
}

#yearTableContainer table th, 
#yearTableContainer table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#yearTableContainer table th {
  background-color: #f2f2f2;
}




/*--------------------------------------------------------------------------------------------------------------*/
/* user cards */ 

/* Contenitore griglia */
.wildCards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1.5fr));
  gap: 25px;

  margin-left: 300px;
  margin-right: 300px;
}

.course-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.course-card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.course-card p {
  margin-bottom: 10px;
}

.course-details {
  margin-top: 10px;
}

.course-details span {
  margin-right: 10px;
}

.price {
  color: #007bff; /* blue */
}

.ambit {
  color: #28a745; /* green */
}

.rating {
  color: #ffc107; /* yellow */
}
