/* Flexbox container to ensure the footer is at the bottom */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* HEADER */
/****************************************************************************************************/
header {
    display: flex;
    border-bottom: 2px solid rgb(172, 93, 106);
    margin: 0 50px;
    align-items: center; /* Align items vertically center */
    vertical-align: center;
    padding: 15px; 
}


header #title {
    text-align: left;
    color: #b66879; 
    font-size: 25px; 
    font-weight: bold;
    vertical-align: center;

}

nav {
    margin-left: 10px;
    flex: 1;
}

nav ul {
    display: flex;
    flex-wrap: nowrap; /* Ensure items do not wrap to the next line */
    list-style-type: none;
    vertical-align: center;

    padding: 0;
    margin: 0;
    justify-content: left; /* Center the items horizontally */
    gap: 7px; /* Add gap between items */

}

.nav-elmnt {
    display: flex; 
    align-items: center;
    vertical-align: center;
    min-width: 0; /* Allow flex items to shrink below their content width */
}

.nav-elmnt a {
    display: block;
    padding: 10px;
    border-radius: 28px;
    color: steelblue;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for color change */
    text-decoration: none; /* Ensure no underline */
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; /* Add ellipsis for overflowing text */
}

.nav-elmnt a:hover {
    color: antiquewhite;
    background-color: rgb(226, 106, 126);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Add a subtle box shadow on hover */
}

/* COOKIE BANNER */
/****************************************************************************************************/
#hide:checked ~ :is(input, div, label, section, p, a, form){
    --show_banner: none;
    --hold_banner: static;
}

#show:checked ~ :is(input, div, label, section, p, a, form){
    --show_banner: block;
    --hold_banner: sticky;
}

.hideable-content {
    display: var(--show_banner) !important;
    --hold_banner: sticky;
    position: var(--hold_banner) !important;
}
