html, body,header,h1{
	margin: 0;
	padding: 0;
	border: 0;
}

body{
    background: rgb(153,217,140);
    background: linear-gradient(90deg, rgba(153,217,140,1) 0%, rgba(118,200,147,1) 50%, rgba(82,182,154,1) 100%);
}

header {  
    background:blanchedalmond;
    border-bottom: solid seagreen;
    height: 120px;
    text-align: center;
}



.evaluation-courses-wrapper {
    padding: 50px;

    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;

    border-radius: 28px;

}

/* Stili per la tabella */
#coursesTable {
    width: 100%;
    border-collapse: collapse;
    border-radius: 28px;
    box-shadow: 1px 1px 24px grey;
  }
  
  #coursesTable th, #coursesTable td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
  }
  
  #coursesTable th {
    background-color: #ffffff;
  }
  
  #coursesTable tbody tr {
    background-color: #ffffff;
  }
  
  /* Stili per il pulsante Feedback */
  #coursesTable button {
    padding: 5px 10px;
    cursor: pointer;
    background-color: #ffffff;
    color: #007bff;
    border: 1px solid #007bff;
    border-radius: 5px;
  }
  
  #coursesTable button:hover {
    background-color: #007bff;
    color: #ffffff;
  }