body {
  margin-top: 20px;
  color: #1a202c;
  text-align: left;
}

main {
  display: block;
}


/* profile card*/
.profile {
  display: block;
  padding: 15px;
}

.subtitle{
  text-align: center;
  font-size: 1.5em; 
  font-weight: bold; 
  color: #a86486; 
}

.card {
  background-color: #fff;
  border-radius: 0.25rem;
  margin-bottom: 20px;
}

.profile-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  border-radius: 50%; 
}

.card-body {
  border: 2px solid rgba(0, 0, 0, 0.125);
  border-radius: 28px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.5rem; 
  text-align: center; 
}

.profile {
  margin: 0 -8px;
  padding: 0 8px;
}



/* Tables that shows followed courses and course that courses that are taught by the user*/
.table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  color: #333;
  margin: 20px 0;
}

.table tr {
  background-color: #fafafa;
}


.table th, .table td {
  border: 1px solid #8f597a;
  padding: 12px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.table .index-line {
  padding-bottom: 5px;
}

.table .index-element{
  border-color: 1px solid #fafafa;
  color:#fafafa;
  background-color: rgb(172, 93, 106);
  text-transform: uppercase;
  padding: 12px

}

.table th {
  color: rgb(70, 70, 70);
  font-weight: bold;
}

.table td {
  background-color: #fff;
}

.table tr:hover {
  background-color: #e0f7fa; 
}

.table th, .table td {
  text-align: center;
  vertical-align: middle;
}

.table caption {
  caption-side: bottom;
  padding: 8px;
  font-size: 1.2em;
  font-weight: bold;
  color: #555;
}

.table .index-table{
  background-color: #8f597a;
  color: #e0f7fa;
}

.table {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

