section {
  justify-content: center; 
  align-items: center; 
}

.page-title {
  font-size: 2.5em; 
  font-weight: bold;
  color: #a86486; 
  text-align: center; 
}

.avviso {
  background-color: #f9f9f9; 
  border: 1px solid #ccc; 
  padding: 20px; 
  margin: 20px 0; 
  font-size: 16px;
  text-transform: bold;
  color: #d15e5e; 
  border-radius: 8px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 600px; 
}

form {
  transform: translateX(100px);
}